<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.picmanager.photobridge</string>
    <key>CFBundleName</key>
    <string>PhotoBridge</string>
    <key>CFBundleExecutable</key>
    <string>photobridge</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>PhotoBridge needs access to your Photos library to export photos to PicManager.</string>
</dict>
</plist>
